.mobile-menu {
    display: none;
    @media (max-width:500px) {
        display:block;
        width: 100%;
    }
}

.mobile-menu-link {
    width: 100%;
    color: white;
    display: block;
    margin: 12px 0 6px 0;
    background: #e88a60;

    &.inactive{
        background-color : rgba(232, 138, 96, .5);
        color            : #bccfbf;
    }

    &.sub{
        background-color: #bccfbf;
        color: black;
    }
}
