.privacy-policy-container {
    position   : absolute;
    left       : 12px;
    text-align : left;

    .privacy-policy {
        bottom      : 16px;
        position    : absolute;
        font-weight : 100;
        white-space : nowrap;
        @media('max-width: 500px') {
            display : none;
        }
    }
}

.socials-container {
    position   : absolute;
    right      : 12px;
    text-align : right;

    .facebook {
        position : absolute;
        bottom   : 16px;
        z-index  : 1;
        right    : 12px;
        @media('max-width: 500px') {
            display : none;
        }
    }

    .instagram {
        position : absolute;
        bottom   : 60px;
        z-index  : 1;
        right    : 12px;
        @media('max-width: 500px') {
            display : none;
        }
    }
}
