$desktop-1680     : 'max-width: 1680px';
$desktop-1440     : 'max-width: 1440px';
$desktop-1536     : 'max-width: 1536px';
$desktop-1366     : 'max-width: 1366px';
$desktop-1280     : 'max-width: 1280px';
$tablet-landscape : 'max-width: 1289px';
$tablet-portrait  : 'max-width: 992px';
$tablet-800       : 'max-width: 800px';
$phone            : 'max-width: 576px';
$phone-500        : 'max-width: 500px';
$phone-380        : 'max-width: 380px';
